{
  "root": true,
  "extends": ["plugin:vue/essential", "@vue/airbnb", "eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "yoda": [2, "always"],
    "comma-dangle": ["warn", "never"],
    "no-unused-vars": "warn",
    "import/extensions": ["warn", "never"],
    "import/first": "off",
    "import/newline-after-import": "off",
    "no-console": ["warn"]
  }
}
